<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'createQuiz.css' %}">
    <title>Quiz {{quiz.id}}</title>
</head>
<body>
    <div class="background" id="add-q-bg">
        
        <div id='container' >
            <a href="{% url 'quizList' %}"> <input id='done_btn' type="button" value="Done" /></a>
        </div>
            <div id="add-q-form">
                <h1 id="add-q-title">Add Question</h1>
                <div class="card card-body" id="add-q-formContent">
                    <form action="" method="POST">
                        {% csrf_token %}
                            <h2>Question</h2>
                            
                            <input type="text" id="ques" name="ques">
            
                            <h3>Option 1</h3>
                            <input type="text" id="op1" name="op1">
                            <h3>Option 2</h3>
                            <input type="text" id="op2" name="op2">
                            <h3>Option 3</h3>
                            <input type="text" id="op3" name="op3">
                            <h3>Option 4</h3>
                            <input type="text" id="op4" name="op4">
            
                            <h3>Answer</h3>
                            <input type="text" id="ans" name="ans">
            
                            <br>
                        <input type="submit" name="Submit" id="add-q-submit">
                    </form>
                </div>
            </div>
    
            
            <div id="add-q-content">
                {% for question, option, ans in lst%}
                <div id="add-q-ques">
                    <h2>{{forloop.counter}}. {{question}}</h2>
                    {% for i in option %}
                        <p>{{forloop.counter}}. {{i}}</p>
                    {% endfor %}

                    <p>Ans: {{ans}}</p>
                </div>
                    
                {%endfor%}
            </div>
            
    </div>
</body>
</html>
 

 

