<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'createQuiz.css' %}">
    <title>Quiz {{quiz.id}}</title>
</head>
<body>
    <div class="background" id="c-quiz-bg">
        <div class="jumbotron container row" id="c-quiz-container">
            <div class="col-md-6">
                <h1 id="c-quiz-title">Create your quiz</h1>
                <div class="card card-body" id="c-quiz-content">
                   <form action="" method="POST">
                      {% csrf_token %}
                        <h2>Quiz Name</h2>
                        <input type="text" id="q_name" name="q_name">
        
                        
        
                        <br>
                     <input type="submit" id="c-quiz-submit" name="Submit">
                    </form>
                    </div>
                </div>
            </div>
         
        </div>
    </div>
</body>
</html>
 

 

 
