
 
{% block content %}
 
<div class="jumbotron container row">
    <div class="col-md-6">
        <h1>Create your quiz</h1>
        <div class="card card-body">
           <form action="" method="POST">
              {% csrf_token %}
                <h2>Quiz Name</h2>
                <input type="text" id="q_name" name="q_name">

                

                <br>
             <input type="submit" name="Submit">
             </form>
            </div>
        </div>
    </div>
 
</div>
 
{% endblock %}