<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'quiz.css' %}">
    <title>Quiz {{quiz.id}}</title>
</head>
<body>
    <div class="background" id="quiz-bg">
        <div class="quiz-titlebar">
            <h1>{{quiz.quizName}}</h1>
            <h3>Total Score: {{quiz.quizScore}}</h3>
            <h3>Total Questions: {{questions|length}}</h3>
        </div>
        <div id="quiz-questions">
            <form method="POST">
                {% csrf_token %}
                {% for question in questions %}
                    <div class="quiz-question">
                        <label class="question-title">{{forloop.counter}}. {{question.text}}</label>
                        {% for option in question.option_set.all %}
                            <div class="options">
                                <input type="radio" name="{{question.id}}" value="{{option.id}}">
                                <label>{{option.text}}</label>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
                <button type="submit" id="submit-form">Submit Quiz</button>
            </form>
        </div>
    </div>
</body>
</html>