<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'quiz.css' %}">
    <title>Quiz {{quiz.id}}</title>
</head>
<body>
    <div class="background" id="quiz-bg">
        <div class="quiz-titlebar" style="justify-content: center;">
            <h1>Select Quiz</h1>
        </div>
        <div id="quiz-questions" style="display: flex; flex-direction: column;">
            <form method="POST">
                {% csrf_token %}
                {% for quiz in quizes %}
                    <input class="quiz-list-btn" type="submit" name="{{quiz.id}}" value="{{quiz.quizName}}">
                {% endfor %}
            </form>
        </div>
        
    </div>
</body>
</html>