
#auth-body {
    background: url('./Media/bg1.png');
    margin: 0;
    height: 100vh;
    background-size: cover;
    display: flex;
}


form{
    display:block;
}
a{
    color: blue !important;
    font-size: 16px;
    display: inline-block;
    padding-left:20px
   
}
input{
    font-size:16px;
    padding: 8px;
    border-width:0.5px;
    border-radius: 5px;
    box-sizing: border-box;
    width: 270px;
}

#register_container{
    align-self: center;
    width: 100%;
    display:block;
    max-width: 330px;
    padding:8px;
    margin: 0 auto;
}
#form_container {
    padding: 10px;
    background-color: white;
    text-align: center;
    border-radius: 20px;
 }
#signup_title{
    align-items:center;
    margin-bottom: 25px;
}
img {
    border-radius: 50%;
  }

label {
    cursor: pointer;
    font-size:16px;
    font-family: 'Times New Roman', Times, serif;
    display: block;
    padding: 10px;
    margin: 3px;
    margin-left: -200px;
    margin-top: -15px;
}


#register_btn , #login_btn , #logout_btn {
    margin:20px;
    border-color: white;
    border-radius: 12px;
    font-size:16px;
    display: inline-block;
    text-align: center;
    padding: 10px;
    color: white;
    background-color: #E94057;

}