

* {
    margin: 0;
    box-sizing: border-box;
}

.background {
    background: url('./Media/bg1.png');
    margin: 0;
    height: 100vh;
    background-size: cover;
    display: flex;
}

#quiz-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz-titlebar {
    width: 60%;
    flex-basis: 20%;
    background-color: white;
    margin-top: 10px;
    align-self: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

#quiz-questions {
    width: 60%;
    flex-basis: 80%;
    overflow: auto;
    margin-bottom: 50px;
    background-color: white;
    margin-top: 10px;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#quiz-questions h2 {
    margin-left: 10px;
}

#quiz-questions h1 {
    margin-left: 10px;
}

#quiz-questions form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.quiz-question {
    width: 100%;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.question-title {
    width: 100%;
    font-size: 30px;
    border: 1px solid black;
    text-align: flex-start;
    padding: 10px;
    color: white;
}

#op-label {
    color: white;
}

.options {
    margin-top: 5px;
}

.options label {
    font-size: 20px;
    margin-top: 20px;
}

#submit-form {
    margin-top: 20px;
    font-size: 20px;
    padding: 15px;
    align-self: center;
    background-color: #3F1581;
    color: white;
    border: none;
    border-radius: 5px;
}

#submit-form:hover {
    transform: scale(0.95);
}

.quiz-list-btn {
    width: 100%;
    font-size: 20px;
    padding: 20px;
    margin-top: 10px;
    font-weight: bolder;
    background-color: #333333;
    color: white;
}

.quiz-list-btn:hover {
    background-color: #3F1581;
}
#container{
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
}

#logout_btn,#create_quiz_btn,#return_to_quiz {
    margin:20px;
    border: none;
    border-radius: 5px;
    font-size:16px;
    text-align: center;
    padding: 10px;
    color: white;
    background-color: #333333;

}